body, html{
  height:100%
}
/*the home  */
.background{
background-image:url(https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
background-size:cover;
height:100%
}
/*navbar styles*/
nav {
max-width: 960px;
margin: 0 auto;
padding:5px 0;
font-family: 'Amita';font-size: 22px;   
}
nav>ul {
text-align: right;
 
}
nav>ul>li {
display: inline-block;
}
nav ul li a {
padding: 18px;
margin-right: 0;
text-transform: uppercase;
text-decoration: none;
display: block;
color: rgba(255, 255, 255, 0.733);   
}
#banner{
padding-bottom :1.5%;
background-color:rgba(231, 68, 204, 0.1); 
}
#banner>a{
border : 2px solid white;
width :20%;
height:20%;
margin-left: 40%;
margin-top:10%;
padding-bottom : 1%;
text-align:center;
color:white;
}
.paragraph{
color:white;
text-align:center;
font-size:38px;
bottom:140px;
position:absolute;
width:100%;
}

/* the about css style*/
h1{
text-align:center;
padding:2%;
margin:0;
font-family: 'Monoton', cursive; 
display:flex;
justify-content:center;
align-items:center;
height:60vh;
overflow:hidden;
color:transparent;
font-size:6em;
}

h1 span{
  display:table-cell;
  animation:animate 1s linear infinite
}
h1 span:nth-child(9n+1){
  animation-delay: 0.5s;
}
h1 span:nth-child(9n+2){
  animation-delay: 1.25s;
}
h1 span:nth-child(9n+3){
  animation-delay: 2.35s;
}
h1 span:nth-child(9n+4){
  animation-delay: 2.75s;
}
h1 span:nth-child(9n+5){
  animation-delay: 1s;
}
h1 span:nth-child(9n+6){
  animation-delay: 1.35s;
}
h1 span:nth-child(9n+7){
  animation-delay: 1.5s;
}
h1 span:nth-child(9n+8){
  animation-delay: 0.65s;
}
h1 span:nth-child(9n+8){
  animation-delay: 0.65s;
}
h1 span:nth-child(9n+9){
  animation-delay: 3.85s;
}
/* h5 span:nth-child(9n+1){
  animation-delay: 0.5s;
}
h5 span:nth-child(9n+1){
  animation-delay: 0.5s;
} */
@keyframes animate{
  0%,100%{
    color:#fff;
    filter:blur(2px);
    text-shadow: 0 0 10px #00b3ff,
                 0 0 20px #00b3ff,
                 0 0 40px #00b3ff,
                 0 0 80px #00b3ff,
                 0 0 120px #00b3ff,
                 0 0 200px #00b3ff,
                 0 0 300px #00b3ff,
                 0 0 400px #00b3ff;
  }
}
#im{
  height:300PX;
  border-radius:50%;
  margin-left:30%;    
}
.flex{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  text-align:center;
  margin-right:300px;
  margin-left:500px;
  font-size:24px;
  padding:10px;
}
/*the portofolio css style */
.orderedList{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  padding: 1px;
  font-size:24px;
  color:skyblue;
}


.explOfProjects{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  padding: 1px;
  font-size:18px;
}
.learnMore{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  padding: 1px;
  text-decoration-line:none;
    
}
.learnMore a{
  text-decoration-line:none;
  border:1px solid #f05050;
  padding:10px;
  background-color:rgba(230, 132, 132, 0.1);
}
.learnMore a:hover{
  background-color:#f05050;
}
/* the contact css style*/
#contact{
  background-color:rgb(167, 167, 167);
  padding:10px;
  height:100%;
  
  
}
.form input {
  background-color: #000;
  width:30%;
  margin-left:650px;
  padding-bottom: 20px;
  color:white;
}
textarea{
  background-color: #000;
  margin-left:650px;
  padding:20px; 
  width:28%; 
  color:white;
}
button{
  margin-left:1000px;
  padding:20px;
  border-radius:10px;
  width:180px;
} 
h2{
  text-align:center;
  color:white;
  font-size:30px;
}
.paragraphcontact{
  text-align:center;
  color:skyblue;
}
 
.btn btn-info{
  border-radius:5%;
}
#loading {
  -webkit-animation: rotation 30s infinite linear;
  border-radius:50%;
}

@-webkit-keyframes rotation {
  from {
          -webkit-transform: rotate(0deg);
  }
  to {
          -webkit-transform: rotate(359deg);
  }
}
.name{
  
      
  font-family: 'Amita';font-size: 44px; 
      color: magenta;
      -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
      -webkit-animation: 5s infinite linear; /* Safari 4.0 - 8.0 */
      animation-name: example;
      animation-duration: 5s;
    }
    
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes example {
      0%   {color: cyan;}
      25%  {color: rgb(213, 248, 12);}
      50%  {color:magenta;}
      100% {color: rgb(250, 4, 66);}
    }
    
    /* Standard syntax */
    @keyframes example {
      0%   {color: cyan;}
      25%  {color: rgb(213, 248, 12);}
      50%  {color:magenta;}
      100% {color: rgb(253, 7, 40);}
    }
 #abt{
  font-family: 'Charm';font-size: 32px;
}
 #about{
  background-color:rgb(216, 216, 216);
  height:100%;
} 
.t{
  font-family: 'Andada';font-size: 32px;
  color:rgb(38, 178, 243);
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.image {
  opacity:0.8;
  display: block;
  width: 100%;
  height:20%;
  transition:0.3s;
  backface-visibility: hidden;
}
a:hover .image {
  opacity:1; 
}
a:hover .middle {
  opacity: 1;
}
a:hover{
  text-decoration:none
 
}
.images{
border-radius: 50%;

margin-bottom:2%;
/* margin-bottom:12%; */

}
#project{
  background-color:rgb(107, 107, 107);
margin-bottom:-2%;
}
h3{
    text-decoration:none;
}
.po{
  font-family: 'Adamina';font-size: 16px;
}
.cont{
  font-family: 'Parisienne', cursive;font-size:18px; 
}
.conta{
  font-family: 'Parisienne', cursive;font-size:22px;
  font-family: 'Rancho', cursive;
}
.pu{
    font-size:26px;
}
/* body {
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Barlow', sans-serif;
} */
#skills{
 height:100%;
 
 background: #310404 url(https://i.ytimg.com/vi/wOvQAhzWCrM/maxresdefault.jpg);
 background-repeat: no-repeat;
 background-size:cover; 
}
.fa fa-github{
 font-size:3%;
}
/* Animation */
.zoom {

transition: transform .2s; 

margin: 0 auto;
}

.zoom:hover {
transform: scale(1.5); 

}